html, body{
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
}
.top {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 50;
}

.nav-link {
    color: black;
    font-family: 'Slabo 27px', serif;
}

.main {
    position: relative;
    text-align: center;
    top: 200px;
    font-family: 'Slabo 27px', serif;
}

.p-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0 0 0 ;
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

.read-me {
    font-size: 20px;
}

.bio {
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
}

h2 {
    font-family: 'Merriweather', serif;
}


h4 {
    font-size: 30px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
}

.img {
    width: 250px;
}


.home {
    background-image: url("../images/mac.jpeg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-me {
    background-color: #f8f8f8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    width: 100%
}

#portfolio {
    background-color: #dfdaca;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    width: 100%
}

.btn {
    background-color: #9ee3d9;
    border-radius:10px;
}

#contact {
    height: 200px;
}

.email-me {
    position: relative;
    text-align: center;
    top: 40px;
    left: 500px;
    font-family: 'Slabo 27px', serif;
}
.work {
    position: relative;
    float: right;
    width: 300px;
    height: 200px;
    margin: 20px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    
}

.links {
    color: #ffffff;
    text-decoration: none;
}


.icon {
    color: white;
}

.link-page {
    color: #d87a95;
    font-family: 'Titillium Web', sans-serif;
}

a :hover {
    color: #9ee3d9;
}

.icon-about {
    color: #d87a95;
}

.learn {
    font-family: 'Merriweather', serif;
}

.email-link {
    color: #d87a95;
}


footer {
    height: 80px;
    background-color: #d4d5d5;
    text-align: center;
}